// Contacts
.contacts__phone {
  @include flex();

  font-size: 16px;
  color: $accentColor;
  transition: color $duration $timing-function;

  &:hover,
  &:focus {
    color: $darkColor;
  }

  &:hover .icon-phone,
  &:focus .icon-phone {
    color: $darkColor;
  }
}

.icon-phone {
  margin-right: 3px;
  color: $accentColor;
  animation: swing 6s ease-in-out infinite forwards;
}
