.nav-menu {
  order: 1;

  @media screen and (min-width: $tablet) {
    order: 0;
  }
}

.nav-menu__list {
  display: none;

  @media screen and (min-width: $tablet) {
    display: flex;
    gap: 20px;
  }
}

.nav-menu__link {
  text-transform: uppercase;
  line-height: 1.5;
  transition: color $duration $timing-function;

  &:hover,
  &:focus {
    color: $accentColor;
  }
}
