.nav-menu__button {
  @extend %menu__button;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.nav-menu__button--close {
  position: absolute;
  top: 25px;
  right: 25px;
}

.nav-menu__button .nav-menu--close {
  // color: #bea495;
  transition: color $duration $timing-function;

  &:hover,
  &:focus {
    color: #fff8f3;
  }
}
