// -------------Button for navigate menu-----------------

.nav-menu__button {
  @extend %menu__button;

  @media screen and (min-width: $tablet) {
    display: none;
  }

  & .nav-menu--close {
    color: $lightColor;
    transition: color $duration $timing-function;

    &:hover,
    &:focus {
      color: $darkColor;
    }
  }
}

.nav-menu__button--close {
  position: absolute;
  top: 25px;
  right: 25px;
}
