// Flex position
@mixin flex($dtype: flex, $jc: center, $alit: center) {
  display: $dtype;
  justify-content: $jc;
  align-items: $alit;
}

// Fonts properties
@mixin fonts($fw, $fs, $lh, $ls) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}
