.about {
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: $accentBg;
  color: $darkColor;

  @media screen and (min-width: $tablet) {
    position: relative;
    padding-bottom: 78px;
  }

  @media screen and (min-width: $laptop) {
    padding-top: 90px;
  }
}

.about__wrap {
  @media screen and (min-width: $desktop) {
    padding-bottom: 60px;
  }
}

.about__wrap-content {
  @media screen and (min-width: $tablet) {
    width: 50%;
  }
}

.about__title {
  margin-bottom: 20px;
}

.about__text {
  margin-bottom: 20px;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: $darkColor;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 22px;
  }
}

.about__wrap-img {
  @media screen and (min-width: $tablet) {
    position: absolute;
    top: 0;
    right: -20px;
    width: 50%;
  }

  @media screen and (min-width: $desktop) {
    top: -30px;
  }
}
