.menu__text {
  text-align: center;
  max-width: 750px;
  margin: 0 auto 25px;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
  }
}

.menu__subtitle {
  margin-top: 30px;
  margin-bottom: 20px;

  font-family: $headerFont;
  font-size: 18px;
  text-align: center;
}

.menu__list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -20px;
  }
}

.menu__item {
  padding: 15px 15px 30px;
  margin-bottom: 40px;
  border-radius: 2px;
  box-shadow: 5px 5px 16px -4px rgba(165, 151, 142, 1);
  transition: transform $duration $timing-function;

  &:hover {
    transform: scale(1.03);
  }

  @media screen and (min-width: calc(#{$mobile} + 1px)) and (max-width: $desktop) {
    flex-basis: calc((100% - 4 * 20px) / 2);
    margin: 20px;
  }

  @media screen and (min-width: calc(#{$desktop} + 1px)) {
    flex-basis: calc((100% - 6 * 20px) / 3);
    margin: 20px;
  }
}

.menu__flip-card {
  max-width: 450px;
  height: 300px;
  perspective: 1000px;
}

.menu__flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform $duration $timing-function;
  transform-style: preserve-3d;
}

.menu__item:hover .menu__flip-card-inner {
  transform: rotateY(180deg);
}

.menu__flip-card-front,
.menu__flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.menu__flip-card-front img,
.menu__flip-card-back img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.menu__flip-card-back {
  transition: transform $duration $timing-function;
  transform: rotateY(180deg);
}

.menu___price,
.menu__heading {
  font-family: $headerFont;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: $darkColor;
}

.menu___price {
  margin-top: 5px;
  margin-bottom: 5px;
}

.menu__heading {
  margin-bottom: 10px;
}

.menu__desc-text {
  margin-bottom: 5px;
}

.menu__list-cups {
  padding-bottom: 20px;
}
